body {
    background-color: #5c258d;
    background-image: linear-gradient(62deg, #5c258d 0%, #4389a2 100%);
}

#Mario {
    display: inline-block;
    background: url("../assets/sprite/characters.png") 0 0;
    width: 100px;
    height: 100px;
}

span[id="Donkey Kong"] {
    background: url("../assets/sprite/characters.png") -120px 0;
    width: 100px;
    height: 100px;
}

span[id="Link"] {
    background: url("../assets/sprite/characters.png") -240px 0;
    width: 100px;
    height: 100px;
}

span[id="Samus"] {
    background: url("../assets/sprite/characters.png") -360px 0;
    width: 100px;
    height: 100px;
}
